{% extends 'layout.html' %} 

{% load static %} 

{% block title %}Morea | Dashboard{% endblock %} 

{% block stylesCustom %}
  <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}" />
  <link rel="stylesheet" href="{% static 'dashboard/css/mqDashboard.css' %}" />
{% endblock %}

{% block content %}
<div class="dashboard">
  <div class="dashboard__graphicsAndAlert">
    <div class="graphicsAndAlert__alert">
      <div class="alert__title">Alertas de Consumo</div>
      <div class="alert__content">
        <div class="content__alert">
          <span class="material-symbols-sharp">emergency_home</span>
          <p class="alert__text">
            Possível vazamento detectado no sensor W_04
          </p>
        </div>
        <div class="content__alert abnormalConsumption">
          <span class="material-symbols-sharp">warning</span>
          <p class="alert__text">
            Consumo anormal detectado no sensor W_01
          </p>
        </div>
      </div>
    </div>
    <div class="graphicsAndAlert__graphics">

      <div class="graphics__graphicDiv">
        <div class="graphicDiv__titleDiv">
            <p class="titleDiv__title">
              Média Geral
            </p>
          <div class="titleDiv__selectDiv">
            <p class="selectDiv__title">
              Choices
            </p>
            <span class="material-symbols-sharp">
              expand_more
              </span>
          </div>
        </div>
        <div class="graphicsDiv__graphicDiv">
          <p>Gráfico</p>
        </div>
      </div>

      <div class="graphics__graphicDiv">
        <div class="graphicDiv__titleDiv">
            <p class="titleDiv__title">
              Dados Brutos Gerais
            </p>
          <div class="titleDiv__selectDiv">
            <p class="selectDiv__title">
              Choices
            </p>
            <span class="material-symbols-sharp">
              expand_more
              </span>
          </div>
        </div>
        <div class="graphicsDiv__graphicDiv">
          <p>Gráfico</p>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
