.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 100%;
  height: 100%;
}

.dashboard__graphicsAndAlert {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.graphicsAndAlert__alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  width: 30%;
  min-height: 700px;
  background-color: var(--background-containerAlert);
  border-radius: 10px;
  color: var(--color-main);
}

.alert__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 500;
  font-size: clamp(20px, 2vw, 22px);
  border-bottom: 1px solid var(--color-main);
  padding-bottom: 20px;
}

.alert__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.content__alert {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: clamp(10px, 2vw, 12px);
  padding: 10px;
  width: 100%;
}

.abnormalConsumption {
  background-color: var(--background-abnormalConsumption);
}

.graphicsAndAlert__graphics {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
}

.graphics__graphicDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.graphicDiv__titleDiv {
  display: flex;
  align-items: center;
  gap: 20px;
}

.titleDiv__title {
  font-weight: 500;
  font-size: clamp(18px, 2vw, 20px);
}

.titleDiv__selectDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 400;
  font-size: clamp(10px, 2vw, 12px);
  color: var(--color-blue);
  background-color: var(--background-button);
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.graphicsDiv__graphicDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: var(--background-graphics);
  border-radius: 10px;
}

.graphicsDiv__graphicDiv p {
  font-weight: 600; /*TEMPORARY*/
}
